page-home {
  .content{
    background: #eae8e5;
  }
  button{
    color: #37343d;
  }
  .ionfab{
    background-color:#37343d;
  }
  .items:hover{
    color: #007aff;
  }
  .scroll-content{
    overflow-y: hidden;
  }
}
